.circle{
  height:5vh;
  width:5vh;
  animation:rotate 2s linear infinite;
}
 @keyframes rotate{
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }
@media only screen and (min-width: 600px) and (max-width: 900px) {
  /* Adjustments for the main container */
  .main {
    width: 100%;
  }

  /* Adjustments for page1 */
  .page1 {
    font-size: 1.25rem;
    padding: 30px;
  }

  .page1 h1 {
    font-size: 2rem;
  }

  .page1 ul {
    flex-direction: row;
    gap: 1.5rem;
    font-size: 1.5rem;
  }

  /* Adjustments for page2 */
  .page2 .nav .ul {
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    padding: 10px 0;
  }

  .page2 .content {
    flex-direction: row;
    align-items: center;
  }

  .page2 .content .w-1/2 {
    width: 48%;
    padding: 20px;
  }

  .page2 .image img {
    height: auto;
    width: 100%;
  }

  .buttons {
    flex-direction: row;
    gap: 15px;
    width: auto;
    align-items: center;
  }

  /* Adjustments for page3 */
  .page3 .page-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .page3-left, .page3-content {
    padding-left:15px;
    width: 90%;
    margin: 0;
  }
.page3-content{
  padding-left:35px;
    width: 80%;
    margin: 0;
}
  .card {
    margin-bottom: 20px;
    height:10vh;
  }

  .left-card, .right-card {
    text-align: center;
    padding: 15px;
  }
}
.li{
  font-family: gilroy;
  font-style: italic;
}
ul{
  font-weight: 500;
}

.page3-content{
  margin-left:10vw;
  height:120vh;
  
}
.page3 hr{
  margin-left:10vw;
}
.card{
  display:flex;
  align-items: center;
  margin-top:8vh;
  margin-right:5vw;
  position:relative;
  border: 1px solid #222;
  border-radius:15px;
}
.right-card{
  font-size:1.2vw;
  width:60%;
  padding-left:5%;
  padding-top:1vw;
  padding-bottom:2vw;
  position: relative;
  z-index: 9;
}
.card1{
  margin-top:10vh;
}
.last-card{
  padding-bottom:20vh;
}
.left-card{
  width:30%;
  margin-top:2vw;
  padding:3vw;
  position: relative;
  z-index: 9;
}
.over{
  height:1%;
  width:100%;
  position:absolute;
  background-color:#FCD34D;
  top:0;
  opacity: 0;
  border-radius:15px;
}
.card:hover{
  transition:all cubic-bezier(0.19,1,0.22,1) 1s;
  
}
.card:hover .over{
  height:100%;
  opacity: 1;
  transition:all cubic-bezier(0.19,1,0.22,1) 1s;
}
.card:hover .left-card{
  margin-left:4vw;
  transition:all cubic-bezier(0.19,1,0.22,1) 1s;
}
